.divSquare{
    border: solid 2px black;
    margin: 2px;
    xmin-width: 10px;
    xmin-height: 10px;
    width: 50%;
    height: 100vp;
  }
  
  #container {
    width: 960px;
    height: 720px;
    display: flex;
    flex-direction: row;
    border: solid 2px green;
    flex-wrap: wrap;
  }
